body {
    font-family: "poppins", sans-serif;
}
.container-fluid{
    padding:0px;
    margin:0px;
}
.top-header{
            padding:5px 20px;
            font-size:10px;
}
.footer{
                padding: 10px !important;
                font-size: 14px;
                font-weight: 500;
}
        .navbar{
            background-color:rgb(209 200 193);
        }

            /* Media query for extra small devices (max-width: 575.98px) */
            @media (max-width: 575.98px) {
              p{
                  padding: 30px 10px;
                  font-weight: 500;
                  font-size: 18px;
                  text-align: justify;
                }
            }

            /* Media query for small devices (min-width: 576px and max-width: 767.98px) */
            @media (min-width: 576px) and (max-width: 767.98px) {
              p{
                  padding: 30px 10px;
                  font-weight: 500;
                  font-size: 18px;
                  text-align: justify;
                }
            }

            /* Media query for medium devices (min-width: 768px and max-width: 991.98px) */
            @media (min-width: 768px) and (max-width: 991.98px) {
              p{
                  padding: 30px 10px;
                  font-weight: 500;
                  font-size: 18px;
                  text-align: justify;
                }
            }

            /* Media query for large devices (min-width: 992px and max-width: 1199.98px) */
            @media (min-width: 992px) and (max-width: 1199.98px) {
            }

            /* Media query for extra large devices (min-width: 1200px) */
            @media (min-width: 1200px) {
                .nav-item{
                    margin-left:60px;
                    margin-right:40px;
                    font-weight:700;
                    color:black;
                    font-size:18px;
                }
                .leftImage, .rightImage{
                    width:100%;                 
                }
                .leftImage{
                  height: 400px;
                }
                .rightImage{
                  height: 650px;
                }
                .about-text{
                    font-size:20px;
                    text-align: justify;
                }
                .p{
                  padding: 30px 10px;
                  font-weight: 500;
                  font-size: 16px;
                  text-align: justify;
                }
              
            }
            
            marquee {
            width: 100%;
            height: 100px;
            /* Adjust height as needed */
        }
            
            
